# Node artifact files

*wandb*
*sbatch_log*
*/data/*
*get_data_from_wb.py

# Datafiles
*.npz
*.csv
*.pkl
*.pt
*.sdf

# 临时文件
*.tmp
*.log

# models
*.pth
*.pt

# Compiled Java class files
*.class


# Package files
*.jar

/img/*
/private/*

# 特定文件夹
models_own/**
plots/**
latex_results/**

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml


# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv


