mypy-extensions==1.0.0
nvidia-cudnn-cu11==8.5.0.96
eden-kernel==0.3.1350
wandb==0.19.1
ipython==8.12.3
eval_type_backport==0.2.0
lit==18.1.8
idna==3.7
idna==3.10
python-dateutil==2.9.0.post0
tqdm==4.66.5
shap==0.44.1
captum==0.2.0
pydantic==2.10.4
multidict==6.0.4
aiohappyeyeballs==2.4.0
async-timeout==4.0.3
pydantic_core==2.27.2
gmpy2==2.1.2
cloudpickle==3.1.0
torchvision==0.15.2
torchvision==0.15.2+cu118
fonttools==4.55.3
stack-data==0.6.3
pyemb==1.0.0a3
nvidia-cuda-runtime-cu11==11.7.99
kiwisolver==1.4.7
torchaudio==2.0.2+cu118
torchaudio==2.0.2
backcall==0.2.0
traitlets==5.14.3
importlib_resources==6.4.5
dive-into-graphs==1.1.0
requests==2.32.3
joblib==1.4.2
jedi==0.19.2
numpy==1.24.3
numpy==1.24.4
wcwidth==0.2.13
PyYAML==6.0.2
filelock==3.16.1
filelock==3.13.1
gitdb==4.0.11
future==0.18.3
matplotlib==3.7.5
scipy==1.10.1
cffi==1.17.1
charset-normalizer==3.3.2
charset-normalizer==3.4.0
aiosignal==1.2.0
prompt_toolkit==3.0.48
matplotlib-inline==0.1.7
nvidia-cusparse-cu11==11.7.4.91
MarkupSafe==2.1.5
MarkupSafe==2.1.3
nvidia-nvtx-cu11==11.7.91
PySocks==1.7.1
nvidia-curand-cu11==10.2.10.91
executing==2.1.0
nvidia-nccl-cu11==2.14.3
soupsieve==2.6
rdkit-pypi==2022.9.5
contourpy==1.1.1
easydict==1.13
zipp==3.20.2
importlib_metadata==8.5.0
gdown==5.2.0
nvidia-cusolver-cu11==11.4.0.1
protobuf==5.29.2
pycparser==2.21
yarl==1.11.0
rdkit==2024.3.2
certifi==2024.12.14
certifi==2024.8.30
cmake==3.31.2
tabulate==0.9.0
scikit-learn==1.3.0
fsspec==2024.6.1
antlr4-python3-runtime==4.9.3
annotated-types==0.7.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
mpmath==1.3.0
pure_eval==0.2.3
psutil==5.9.0
cycler==0.12.1
torchmetrics==1.5.2
omegaconf==2.3.0
toolz==1.0.0
openpyxl==3.1.5
frozenlist==1.4.0
pyscf==2.7.0
pyemd==0.0.0
packaging==24.1
docker-pycreds==0.4.0
pytz==2024.2
parso==0.8.4
numba==0.58.1
mkl-random==1.2.4
threadpoolctl==3.5.0
munch==4.0.0
urllib3==2.2.3
fcd-torch==1.0.7
dill==0.3.9
pexpect==4.9.0
cilog==1.3.0
GitPython==3.1.43
Brotli==1.0.9
pickleshare==0.7.5
pyparsing==3.1.2
hydra-core==1.3.2
torch==2.0.1
tomli==2.2.1
mkl-fft==1.3.8
nvidia-cufft-cu11==10.9.0.58
decorator==5.1.1
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.2
wheel==0.44.0
slicer==0.0.7
nvidia-cuda-nvrtc-cu11==11.7.99
six==1.17.0
attrs==24.2.0
h5py==3.11.0
setproctitle==1.3.4
Jinja2==3.1.4
Pygments==2.18.0
ipdb==0.13.13
ptyprocess==0.7.0
platformdirs==3.10.0
mkl-service==2.4.0
aiohttp==3.10.5
smmap==5.0.1
typing==3.7.4.3
pip==24.2
triton==2.0.0
triton==2.0.0
typed-argument-parser==1.7.2
sympy==1.13.3
sentry-sdk==2.19.2
pooch==1.7.0
pillow==10.4.0
torch_geometric==2.5.2
beautifulsoup4==4.12.3
setuptools==75.1.0
networkx==3.1
pandas==2.0.3
asttokens==3.0.0
llvmlite==0.41.1
lightning-utilities==0.11.9
et_xmlfile==2.0.0
click==8.1.7
inflect==7.3.1
platformdirs==4.2.2
backports.tarfile==1.2.0
importlib_resources==6.4.0
jaraco.functools==4.0.1
jaraco.collections==5.1.0
tomli==2.0.1
importlib_metadata==8.0.0
zipp==3.19.2
jaraco.context==5.3.0
packaging==24.1
autocommand==2.2.2
more-itertools==10.3.0
typing_extensions==4.12.2
wheel==0.43.0
typeguard==4.3.0
jaraco.text==3.12.1
