data:
  value:
    add_cycles_feat: true
    add_path_feat: true
    add_random_feat: true
    add_spectral_feat: true
    data: ENZYMES
    dir: ./data
    max_feat_num: 0
    max_node_num: 125
    min_node_num: 10
    test_split: 0.2
dataset:
  value: enzymes
device:
  value: cuda:1
exp_name:
  value: ar_baseline
gpu:
  value: '1'
log:
  value:
    debug: false
    n_loggin_epochs: 1
    n_loggin_steps: 10000
    wandb: online
model:
  value:
    decoder:
      mlp_hidden_size: 128
      mlp_n_layers: 3
      n_layers: 6
      name: GNN
      nhf: 32
      normalization: batch_norm
      skip_connection: true
    encoder:
      mlp_hidden_size: 128
      mlp_n_layers: 3
      n_layers: 6
      name: GNN_PYG
      nhf: 32
      normalization: batch_norm
      skip_connection: true
    gamma: 0.1
    quantizer:
      codebook_size: 512
      commitment_cost: 0.25
      decay: 0.99
      epsilon: 1e-05
      init_steps: 0
      name: Quantizer
      nc: 1
      nz: 8
model_folder:
  value: ./wandb/enzymes_prior/files/config.yaml
run_name:
  value: enzymes_cb512_1
sample:
  value: false
train_autoencoder_skip:
  value: false
train_prior:
  value: true
training:
  value:
    batch_size: 16
    beta1: 0.9
    beta2: 0.99
    betas: !!python/tuple
    - 0.9
    - 0.99
    decay_iteration: 2000
    epochs: 2500
    learning_rate: 0.0005
    lr_decay: 0.5
    n_iter: 1000000
    sort_codebook: false
    sort_indices: true
transformer:
  value:
    d_model: 128
    n_blocks: 6
    num_heads: 16
work_type:
  value: train_prior
